<div class="row row-cols-1 row-cols-md-3 g-4">
 
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">Capacidad:{{capacity}}personas</p>
        <ul>
          <li>Servicios: {{place.services}}</li>
          <li>Actividades: {{place.activities}}</li>
        </ul>
            {{#if place.veganoptions}}
            Opciones veganas: SI
            {{else}}
            Opciones veganas: NO
            {{/if}}
              {{#if place.petfriendly}}
              Petfriendly: SI
              {{else}}
             Petfriendly: NO
              {{/if}}
        <p class="card-text">Servicios:{{services}}</p>
          <p class="card-text">Actividades:{{activities}}</p>
        <p class="card-text">Precio:{{price}} €</p>
      </div>
    </div>
  
  </div>
  