
<div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
<div class="card">
        <h5 class="card-title">{{place.name}}</h5>
        <p class="card-text"> Capacidad: {{place.capacity}} personas</p>
        <p class="card-text"> Descripcion: {{place.price}} € </p>
        <p class="card-text"> Ciudad: {{place.city}}</p>
         <p class="card-text"> Image: {{place.images}}</p>
          <p class="card-text"> Servicios: {{place.services}}</p>
           <p class="card-text"> Actividades: {{place.activities}}</p>

      </div>
      
</div>
